.headerTitle {
    margin-top: 3rem;
    text-align: center;
    font-weight:300;
  }

  .headerLogin {
    margin-top: 3rem;
    font-weight:300;
    cursor: pointer;
  }

  .headerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}