.containerCenter {
    margin:2rem 0 4rem 0;
    display:flex;
    justify-content: center;
}
.containerCenterStart {
    margin-top:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

@media(min-width:1200px ) {
.technicalDocs {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    padding: 20mm;
    overflow-x: hidden;
    overflow-y: auto;
    page-break-before: always;
    background: #fff;
    color: #000000;
    }
}

@media(max-width:1199px ) {
.technicalDocs {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20mm;
    overflow-x: hidden;
    overflow-y: auto;
    page-break-before: always;
    background: #fff;
    color: #000000;
    }
}

.technicalDocs h1, .technicalDocs h2, .technicalDocs h3 {
    margin-top: 0;
}

.technicalDocs h1 {
    font-size: 1.5rem;
}

.technicalDocs h2 {
    font-size:1.3rem;
}

.technicalDocs h3 {
    font-size:1.1rem;
}
  
.technicalDocs p {
    line-height: 1.6;
    margin-bottom: 10px;
    font-size: 1rem;
}
  
.technicalDocs .page-break {
    page-break-before: always;
}

.technicalDocs table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .technicalDocs th, .technicalDocs td {
    border: 1px solid #ddd;
    padding: 8px;
    word-break: break-word;
  }
  
  .technicalDocs th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: left;
  }
  
  .technicalDocs a {
    color: blue;
    text-decoration: underline;
  }
  